 body {
 	background-image: url(/img/home.jpg);
 	background-color: black;
 	font-family: "Impact", Charcoal, sans-serif;
 	color: white;
 }
 li {
 	list-style-type: square;
 }
 a {
 	color: white;
 }
 a:hover {
 	color: darkorange;
 }
  #sidebar {
 	background-image: url(/img/home.jpg);
 	background-color: black;
 	background-color: grey;
 	position: fixed;
 	width: 98%;
 	height: 42px;
 	border-radius: 20px;
 	border-style: solid;
 	border-color: gold;
 }
 footer {
 	background-image: url(/img/home.jpg);
 	background-color: black;
 	background-color: #777;
 	border-radius: 20px;
 	border-style: solid;
 	border-color: gold;
 }
 #test {
 	padding-top: 40px;
 }
 #home {
 	font-size: 30px;
 	margin-right: 40px;
 	margin-left: 10px;
 }
 #blog {
 	font-size: 30px;
 	margin-right: 40px;
 }
 #about {
 	font-size: 30px;
 }