 body {
 	background-image: url(https://mywierdotakulife.files.wordpress.com/2014/07/tumblr_mw0ug5rcnx1rnqolfo1_250.gif);
 	text-align: center;
 	font-family: "Impact", Charcoal, sans-serif;
 }
 li {
 	list-style-type: none;
 }