.top {
	margin: 0px;
	text-align: center;
}
. {
	right: 20px;
}
.underline {
	text-decoration: underline;
}
body {
	color: white;
}
body {
	background-image: url(http://www.ipad-wallpapers.us/bgs/black-and-blue-stripes-ipad-wallpaper.jpg);
	background-color: black;
}